<?xml version='1.0' encoding='utf-8'?>
<widget id="lmh.test.application" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>微信</name>
    <description>Sample Apache Cordova App</description>
    <author email="dev@cordova.apache.org" href="https://cordova.apache.org">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <preference name="scheme" value="http" />
    <platform name="android">
        <allow-intent href="market:*" />
        <icon density="ldpi" src="res/icon/android/icon.png" />
        <icon density="mdpi" src="res/icon/android/icon.png" />
        <icon density="hdpi" src="res/icon/android/icon.png" />
        <icon density="xhdpi" src="res/icon/android/icon.png" />
        <icon density="xxhdpi" src="res/icon/android/icon.png" />
        <icon density="xxxhdpi" src="res/icon/android/icon.png" />
    </platform>
</widget>
